@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  font-family: "Montserrat", sans-serif;
}

:root {
  /* Colors */
  --colorPrimary: #0d263b;
  --colorSecondary: #696969;

  /* Backgrounds */
  --backgroundPrimary: #0061df;

  /* Padding */
  --padding: 0 130px;
}

.subTitle {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #0d263b;
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #0d263b;
  margin-bottom: 4px;
}

.infoDesc {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 4px;
  color: #696969;
}

.inline {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
}

.shadow {
  box-shadow: 0px 10px 20px 0px #999999bd;
}

.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 25px !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  background: #b5b5b5;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #0d263b;
  border-radius: 10px;
}
